.list {
	padding: 0 10px;
	margin: 5px;
	width: 100%;
	display: flex;
	align-items: baseline;
	justify-content: space-between;
	border: 1px solid var(--border-color);
}

.list h2 {
	word-wrap: break-word;
	width: 80%;
}
  
.icons {
	color: var(--icon-color);
	margin-left: auto;
	width: 100px;
	font-size: 24px;
}
.icons i {
	margin: 2px 2px;
	cursor: pointer;
}
  
.text-with-line {
	text-decoration: line-through;
	text-decoration-thickness: 2.5px;
}

@media screen and (max-width: 768px) {

	.list h2 {
		font-size: 16px;
	}
}
